  
 body{
    font-size:40;
     font-family: Arial, Helvetica, sans-serif;
     background-color:#eee;
     margin-left: auto;
     margin-right: auto;
        width:900px;
      
      } 
      #header{
        font-family: Arial, Helvetica, sans-serif;
          background-color:white;
      }  
      #footer{
             font-size:30;
          font-family: Arial, Helvetica, sans-serif;
          padding: 15px;
       background-color:white;
      }
      #whatsapp{
          background-color: #eee;
      }
      form#register|{ 
         
        input#name (
            width: 300px;
            border: 1px Bolid #ddd;
            border-radius:3px;
            outline: 0;
            padding: 7px;
            background-color:#fff;
            box-shadow:inset 1px 1px 5px b, 0, 0,
           rgba(0,0,0,0.3)

      }
