body{
  font-size: 25px;
  width : auto;
  max-width: 900px;
  margin-left:auto;
  margin-right:auto;
  background-image:linear-gradient(to top right, cyan,aquamarine);
    
    } 
    #header{
      font-family: 'poppins' , sans-serif;
        background-color:aliceblue;
    }  
    #footer{
           font-size:30px;
           font-family: Arial, Helvetica, sans-serif;
           padding: 15px;
           background-color: aliceblue;
           float: auto;
           clear: both;
    }
    #whatsapp{
        width: 100%;
        height: auto;
        background-color: aliceblue;
    }
    
     #register{
       
       width: 100%;
       height: auto;
       background-color:aliceblue;
       display: flex;
       align-self: center;
       justify-content: center;
	   transition: 0.5s;

     }
     form{
       
       background:white;
       display: flex;
       flex-direction:column;
       padding: 2vw 4vw;
       width:90%;
       max-width: 600px;
       border-radius:10px;
     }
     form h2{
       color: #555;
       font-weight: 800;
       font-size: 50px;
     }
     form input{
       border: 0;
       margin: 10px 10px;
       padding:20px;
       outline: none;
       background-color: #f5f5f5;
        font-size: 25px;
        transition: 0.5s;
     }
  form button{
    padding: 15px;
    background:#53ceff;
    color:#fff;
    font-size:18px;
    border: 150px;
    outline:none;
    cursor: pointer;
    width: 250px;;
    margin:20px auto;
    border-radius: 30px;
    transition: 0.5s;
    transform: rotate(20);
	}
   #gender{
     color: #555;
     box-sizing: border-box;
   }
   .rad{
     font-size: 24px;
     font-weight: 800;
     color: #555;
     text-transform: capitalize;
     display: inline-block;
     vertical-align: middle;
     color: rgb(0, 0, 0);
     margin: 20px;
     
    

   }
   form option{
     border: 10px none;
   }
   .rad + .rad{
     
   }
   .rad input[type=radio]{
     

   }
   .rad span{
     display: none;
    height: auto;
     width: auto;
     border-radius: 50%;
     border:3px solid #00aeef;
     display:block;

          }
    form input[type=radio]{
      border-top-color: blueviolet;
      
     
     }
     select{
       width: 300px;
       font-size: large;
       color:rgb(0, 0, 0);
       -webkit-appearance: none;
       -moz-appearance: none;
       appearance: none;
       outline:0;
       box-shadow: none;
       border:   #53ceff !important;
       font-size: 20px;
       background: #fff;
       padding: 10px;
       color: #555;
     }
     select::-ms-expand{
       display: none;
     }
     label{
       font-size: 24px;
       font-weight: 800;
       color: #555;
     }
 